@font-face {
  font-family: 'Lato-Black';
  src: url('./fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('./fonts/Lato-Regular.ttf') format('truetype');
}

:root {
  --light-grey: #f8fafc;
  --red: #d90a2c;
  --black: #17161a;
  --dark: #1a191d;
  --darker-grey: #e7e7e7;
  --red-gradient: linear-gradient(to left, red, var(--red));
}

body {
  font-family: 'Lato-Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato-Black';
}
